@mixin mobile {
    @media (min-width: 375px) { @content; }
  }
  
  @mixin tablet {
    @media (min-width: 576px)  { @content; }
  }
  
  @mixin tablet-2 {
    @media (min-width: 768px)  { @content; }
  }
  
  @mixin desktop {
    @media (min-width: 1200px) and (orientation: landscape) { @content; }
  }
  
  @mixin desktop-2 {
    @media (min-width: 1440px) and (orientation: landscape) { @content; }
  }

  @mixin desktop-3 {
    @media (min-width: 1920px) and (orientation: landscape) { @content; }
  }

  @mixin desktop-4 {
    @media (min-width: 2560px) and (orientation: landscape) { @content; }
  }

  @mixin desktop-5 {
    @media (min-width: 3840px) and (orientation: landscape) { @content; }
  }

  @mixin heroImage{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;

    @include desktop{
      background-size: cover;
    }
  }

  @mixin imageDropShadow{
    box-shadow: 0 80px 120px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  