@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700&display=swap");

* {
  font-family: "Spartan", sans-serif;
  font-size: 100%;
  box-sizing: border-box;
}

h1 {
  font-size: 32px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: ((-12.5/ 1000) * 1em);
}

h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -1.25px;
}

h3 {
  font-size: 18px;
  line-height: 28px;
}

p {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: ((-12.5/ 1000) * 1em);
  line-height: 25px;
}

a {
  font-size: 14px;
  letter-spacing: ((142.86/ 1000) * 1em);
  line-height: 28px;
  text-decoration: none;
  color: #4C4C4C;

  /*&:hover{
    opacity: 50%;
  }*/

  &.blck-button {
    color: #FFFFFF;
    background: #111111;
    border: solid 1px #FFFFFF;
  
    &:hover{
      color: #17192B;
      background: #FFFFFF;
      border: solid 1px #111111;
    }
  }

  &.transp-button{
    background: transparent;
    border: solid 1px #ffffff;
    color: #FFFFFF;

    &:hover{
      color: #111111;
      background: #FFFFFF;
      border: solid 1px #FFFFFF;
    }
  }

}


.content {
  padding: 0 6.4%;
}

body {
  margin: 0 auto;
  width: 100%;
}

.button {
  padding: 6% 18%;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
}

.pattern-divide{
  width: 71px;
  display: block;
  margin: 0 auto 32px auto;
}


.content-img {
  width: 100%;
  display: block;
  box-shadow: 0 80px 120px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 0 48px 0;
}

.menu-img {
  width: 100%;
  display: block;
  box-shadow: 0 80px 120px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 0 32px 0;
}



.hero {
  color: white;
  background: url(/starter-code/images/homepage/hero-bg-mobile.jpg) #111111;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 111vh;
  min-height: 784px;

  .logo {
    height: 32px;
  }

  .button {
    margin-top: 25px;
  }

  .content {
    padding-top: 0;
  }
}

.about {
  text-align: center;
  bottom: 0px;
  transform: translateY(-6.2%);
  margin-bottom: -4.4%;
}


.highlights {
  background-color: #111111;
  color: #ffffff;
  text-align: center;
  padding: 72px 0;

  .dish-divide {
    border-bottom: 1px solid #707070;
    margin-bottom: 24px;
  }

  h3{
    margin: 0 0 4px 0;
  }

  p{
    margin-top: 0;
  }

  

}

.gathering{
text-align: center;
padding: 80px 0 124px 0;

ul{
  list-style-type: none;
  padding: 0;
  margin-bottom: 32px;
}

img{
  box-shadow: 0 80px 120px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  margin: 0 0 48px 0;
  display: block;

}

.gathering_desc{
  margin: 24px 0 32px 0;

  h2{
    margin: 0 0 16px 0;
  }
}

}

.booking{
  color: #ffffff;
  background-image: url(/starter-code/images/homepage/ready-bg-mobile.jpg);
  text-align: center;
  padding: 80px 0 80px 0;

  h2{
margin: 0 0 24px 0 ;
  }
}

.foot{
  background-color: #111111;
  color: #ffffff;
  text-align: center;
  padding: 80px 0 64px 0;
  line-height: 28px;

  .logo {
    height: 40px;
    display: block;
    margin: 0 auto;
  }

  address{
    font-style: normal;
    margin: 40px 0 32px 0;
    a{
      color: white;
    }
  }
}